@font-face {
    font-family: NeueMontreal;
    src: url(../../fonts/NeueMontreal-Regular.otf);
}

// font family
$font-bebas:'Bebas Neue',
sans-serif;
$font-montreal:'NeueMontreal';
// colors
$body-color: #1A1A2E;
$primary-color:#00FFD1;
$white-color: #ffffff;
$black-color:#000000;
$green-color:#23BE23;
$blue-color :#443FFE;
$red-color:#FF473C;
$golden-color:#FFE68D;
$pink-color:#FF00FF;
$yellow-color:#FFB800;
$orange-color:#F58335;
$dark-yellow-color:#E4BD31;
$gray-color:#B0B0B0;

