<div class="home-panel">
  <div class="container">
    <div class="home-page">
      <div class="row">
        <div class="col-lg-12 col-md-12 PLR-0">
          <div class="flex flex-column justify-between align-start height-100">
            <div class="flex justify-start align-center">
              <div class="logo">
                <img
                  src="../../../../assets/images/Neoja-logo.png"
                  alt="Logo"
                />
              </div>
              <div class="neoja-title">
                <h4>Neoja’s Betting Area</h4>
              </div>
            </div>
            <div>
              <h1>Neoja <span>Titans Duel Mode</span></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row MT-2-half">
        <div class="col-lg-4 col-md-4 PLR-0">
          <a class="card-1 mr-2" (click)="openCodeDialogue('operator')">
            <div class="bg-img-1">
              <div class="score-feed flex align-center justify-between">
                <h2>Operator</h2>
                <img
                  src="../../../../assets/images/arrow-operator-icon.svg"
                  class="arrow-icon"
                  alt="arrow"
                />
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-4 PLR-0">
          <a class="card-2 mr-2" (click)="openCodeDialogue('ranking-score')">
            <div class="bg-img-2">
              <div class="score-feed flex align-center justify-between">
                <h2>RANKING SCORE</h2>
                <img
                  src="../../../../assets/images/arrow-ranking-icon.svg"
                  class="arrow-icon"
                  alt="arrow"
                />
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 PLR-0">
          <a class="card-3" (click)="openCodeDialogue('manager')">
            <div class="bg-img-3">
              <div class="score-feed flex align-center justify-between">
                <h2>manager</h2>
                <img
                  src="../../../../assets/images/arrow-manager-icon.svg"
                  class="arrow-icon"
                  alt="arrow"
                />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
