<!-- <div class="home-panel">
  <div class="container">
    <div class="home-page">
      <div class="row">
        <div class="col-lg-6 col-md-6 PLR-0">
          <div class="flex flex-column justify-between align-start height-100">
            <div class="flex justify-start align-center">
              <div class="logo">
                <img
                  src="../../../../assets/images/neoja-svg-logo.svg"
                  alt="Logo"
                />
              </div>
              <div class="neoja-title">
                <h4>Neoja’s Global Tournament</h4>
              </div>
            </div>
            <div><h1>Welcome to Neoja</h1></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 PLR-0">
          <div class="players-img">
            <img src="../../../../assets/images/menu-image.png" alt="Logo" />
          </div>
        </div>
      </div>
      <div class="row MT-2-half">
        <div class="col-lg-4 col-md-4 PLR-0">
          <a class="card-1 mr-2" (click)="openCodeDialogue('score-feed')">
            <div class="bg-img-1">
              <div class="score-feed flex align-center justify-between">
                <h2>score feed</h2>
                <img
                  src="../../../../assets/images/arrow-icon.svg"
                  class="arrow-icon"
                  alt="arrow"
                />
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-4 PLR-0">
          <a class="card-1 mr-2" (click)="openCodeDialogue('high-score')">
            <div class="bg-img-2">
              <div class="score-feed flex align-center justify-between">
                <h2>high score</h2>
                <img
                  src="../../../../assets/images/arrow-icon.svg"
                  class="arrow-icon"
                  alt="arrow"
                />
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 PLR-0">
          <a class="card-1" (click)="openCodeDialogue('manager')">
            <div class="bg-img-3">
              <div class="score-feed flex align-center justify-between">
                <h2>manager</h2>
                <img
                  src="../../../../assets/images/arrow-icon.svg"
                  class="arrow-icon"
                  alt="arrow"
                />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->
