<div class="modal">
  <div class="modal__header">
    <h5>CHANGE SCORE</h5>
    <a (click)="close()" matTooltip="Close"
      ><img src="../../../../../assets/images/close-white-icon.svg" alt=""
    /></a>
  </div>
  <div class="modal__body">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 PLR-0">
        <div class="form-input mr-4">
          <input type="text" [(ngModel)]="GPW"/>
          <div class="tag">GPW</div>
        </div>
        <div class="form-input mt-1 mr-4">
          <input type="text" [(ngModel)]="GBW" />
          <div class="tag">GBW</div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 PLR-0">
        <div class="form-input ml-4">
          <input type="text" [(ngModel)]="GPL" />
          <div class="tag">GPL</div>
        </div>
        <div class="form-input mt-1 ml-4">
          <input type="text" [(ngModel)]="GBL" />
          <div class="tag">GBL</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal__footer">
    <div class="pr-2">
      <button class="primary-btn btn" (click)="save()">SAVE</button>
    </div>
    <div class="pl-2">
      <button class="secondary-btn btn" (click)="close()">CANCEL</button>
    </div>
  </div>
</div>
