@import "../abstracts/abstracts";

* {
  // font-family: $font-family;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: unset !important;
  list-style: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 10px;

  // @include respond("small-desktop") {
  //   font-size: 7px;
  // }

  // @include respond("regular-desktop") {
  //   font-size: 8px;
  // }

  @include respond("tab-port") {
    font-size: 9px;
  }

  @include respond("phone") {
    font-size: 8px;
  }
}

body {
  background: $body-color;
  overflow-y: auto;
  overflow-x: hidden !important;
  margin: 0;
  height: 100%;
}

button,
a {
  cursor: pointer;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.display-inline {
  display: inline-block;
  vertical-align: top;
}

.display-right {
  display: flex;
  justify-content: flex-end;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.pl-1 {
  padding-left: 2.4rem !important;
}

.pl-2 {
  padding-left: 0.8rem;
}

.pr-2 {
  padding-right: 0.8rem;
}

.pr-1 {
  padding-right: 2.4rem !important;
}

.mr-1 {
  margin-right: 1.6rem !important;
}

.mr-2 {
  margin-right: 2.4rem !important;
}

.mr-3 {
  margin-right: 3.2rem !important;
}

.mt-1 {
  margin-top: 3rem !important;
}

.m-auto {
  margin: 0 auto;
  width: 50%;
}

.w-50 {
  width: 50%;
}

.border-dash {
  border-right: 1px dashed rgba($white-color, 0.1);
  height: calc(100% - 10.4rem);
}


.container {
  margin: 0 auto;
  width: 95.5% !important;

  @include respond("tab-port") {
    width: 90% !important;
  }

  @include respond("phone") {
    width: 90% !important;
  }
}

.search {
  .container {
    min-height: 600px;

    position: relative;
  }
}

.material-icons {
  font-family: "Material Icons" !important;
}

.material-icons-outline {
  font-family: "Material Icons Outlined" !important;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-space-even {
  justify-content: space-evenly !important;
}

.justify-space-around {
  justify-content: space-around !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.align-start {
  align-items: flex-start !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-center {
  align-items: center !important;
}

.flex-column {
  flex-direction: column !important;
}

.even-row {
  background-color: rgba($white-color, 0.03);
}

.white-font {
  color: $white-color !important;
}

.bg-gray {
  border-radius: 2rem;
  padding: 1.6rem;
  background-color: rgba($white-color, 0.05);
}


img {
  width: 100%;
}


.logo {
  img {
    width: 10.4rem;
    margin-right: 1.6rem;
  }
}

.neoja-title {
  padding-left: 1.6rem;
  border-left: 1px solid rgba($white-color, 0.25);

  h4 {
    font-family: $font-montreal;
    color: $white-color;
    font-size: 2.8rem;
    font-weight: 600;
    font-style: italic;
    line-height: 3.36rem;
  }
}

.page-panel {
  width: 100%;
  height: calc(100% - 10.4rem);
}

.title {

  h5 {
    font-family: $font-montreal;
    color: $primary-color;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 5.76rem;
  }

  @include respond ('phone') {
    margin: 2.4rem 0rem 3.2rem 0rem;
  }

  @include respond ('tab-port') {
    margin: 2.4rem 0rem 3.2rem 0rem;
  }
}

.modal {
  background-color: $dark-blue-color;
  padding: 2.4rem;
  //border-radius: 1.2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.9rem;

    h5 {
      font-family: $font-bebas;
      color: $white-color;
      font-size: 2.6rem;
      font-weight: 400;
      line-height: 3.1rem;
    }

    a {
      margin-top: -0.7rem;
      width: 2.4rem;
    }
  }

  &__body {
    margin-bottom: 3.2rem;

    input {
      background-color: $dark-blue-color;
      font-family: $font-bebas;
      color: $white-color;
      font-weight: 400;
      font-size: 2.8rem;
      line-height: 3.3rem;
      border: 1px solid rgba($white-color, 0.1);
      border-radius: 1rem;
      padding: 1.6rem 2rem;
      width: 100%;

      &::placeholder {
        font-family: $font-bebas;
        color: rgba($white-color, 0.25);
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 3.3rem;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 50%;

      button {
        width: 100%;
      }
    }
  }
}