<div class="page-panel manager">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 PLR-0 title"><h5>Manager</h5></div>
    <div
      class="col-lg-8 col-md-8 col-sm-8 PLR-0 text-right flex justify-end align-center"
    >
      <div class="mr-1">
        <button
          type="button"
          class="btn secondary-btn"
          (click)="openChangeTimeDialogue()"
        >
          Change time
        </button>
      </div>
      <div class="mr-1">
        <button
          type="button"
          class="btn secondary-btn"
          (click)="openChangeScoreDialogue()"
        >
          Change score
        </button>
      </div>
      <div class="mr-1">
        <button
          type="button"
          class="btn secondary-btn"
          (click)="openSendEmailDialogue()"
        >
          SEND EMAIL
        </button>
      </div>
      <div>
        <button type="button" class="btn primary-btn">RESET DATABASE</button>
      </div>
    </div>
  </div>
  <div class="manager-table">
    <table>
      <thead>
        <tr>
          <th width="30%" class="text-left">Players</th>
          <th width="14%">Gpw</th>
          <th width="14%">Gpl</th>
          <th width="14%">GBW</th>
          <th width="14%">GPL</th>
          <th width="14%">Ranking</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-left white-font">Robert Fox</td>
          <td>79</td>
          <td>45</td>
          <td>78</td>
          <td>34</td>
          <td class="white-font">132</td>
        </tr>
        <tr class="even-row">
          <td class="text-left white-font">Robert Fox</td>
          <td>79</td>
          <td>45</td>
          <td>78</td>
          <td>34</td>
          <td class="white-font">132</td>
        </tr>
        <tr>
          <td class="text-left white-font">Robert Fox</td>
          <td>79</td>
          <td>45</td>
          <td>78</td>
          <td>34</td>
          <td class="white-font">132</td>
        </tr>
        <tr class="even-row">
          <td class="text-left white-font">Robert Fox</td>
          <td>79</td>
          <td>45</td>
          <td>78</td>
          <td>34</td>
          <td class="white-font">132</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="no-data-table">
    <div>
      <img
        src="../../../../../assets/images/no-data-manager-screen.png"
        alt=""
      />
    </div>
    <div class="mt-1"><b>No player data available</b></div>
    <div class="MT-1-half">
      <small
        >Come back later after games are played & check the players stat in
        here</small
      >
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-lg-12 col-md-12 col-sm-12 PLR-0">
      <div>
        <button type="button" class="btn secondary-btn">
          back to main menu
        </button>
      </div>
    </div>
  </div>
</div>
