<div class="page-panel manager">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 PLR-0 title"><h5>Manager</h5></div>
    <div
      class="col-lg-8 col-md-8 col-sm-8 PLR-0 text-right flex justify-end align-center"
    >
      <div class="mr-1">
        <button
          type="button"
          class="btn secondary-btn"
          (click)="openChangeTimeDialogue()"
        >
          Change time
        </button>
      </div>
      <div class="mr-1">
        <button
          type="button"
          class="btn secondary-btn"
          (click)="openChangeScoreDialogue()"
        >
          Change score
        </button>
      </div>
      <div class="mr-1">
        <button
          type="button"
          class="btn secondary-btn"
          (click)="openSendEmailDialogue()"
        >
          SEND EMAIL
        </button>
      </div>
      <div>
        <button type="button" class="btn primary-btn">RESET DATABASE</button>
      </div>
    </div>
  </div>
  <div class="manager-table">
    <table>
      <thead>
        <tr>
          <th width="30%" class="text-left">Players</th>
          <th width="14%">Gpw</th>
          <th width="14%">Gpl</th>
          <th width="14%">GBW</th>
          <th width="14%">GBL</th>
          <th width="14%">Ranking</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players; let i = index" [ngClass]="{ 'even-row': i % 2 === 1 }">
          <td class="text-left white-font">{{ player.name }}</td>
          <td>{{ player.GPW }}</td>
          <td>{{ player.GPL }}</td>
          <td>{{ player.GBW }}</td>
          <td>{{ player.GBL }}</td>
          <td class="white-font">{{ player.RANK }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt-1">
    <div class="col-lg-12 col-md-12 col-sm-12 PLR-0">
      <div>
        <button type="button" class="btn secondary-btn" (click)="onBackToMenu()">
          back to main menu
        </button>
      </div>
    </div>
  </div>
</div>
