@import "../../../../../assets/scss/abstracts/abstracts";

.operator {

    padding: 2.4rem;

    .timer-display {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 3.2rem;

        span {
            img {
                width: 3.2rem;
            }
        }

        small {
            font-family: $font-bebas;
            color: $white-color;
            font-size: 4rem;
            font-weight: 400;
            line-height: 4.8rem;
        }
    }

    &__scroll {
        padding-right: 2.5rem !important;
        overflow-y: auto;
        position: sticky;
        top: 0;
        height: calc(100vh - 34.5rem);

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba($gray-color, 0.75);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $gray-color;
            border-radius: 10px;
        }

        @include respond ("tab-port") {
            height: calc(100vh - 38.5rem);
        }
    }

    &__left {
        position: relative;
        padding-right: 1rem !important;


        input,
        .player-name {
            background-color: transparent;
            position: relative;
            display: inline-block;
            font-family: $font-bebas;
            color: $white-color;
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 3.3rem;
            border: none;
            border-radius: 1rem;
            width: 100%;
            text-transform: uppercase;
            cursor: grab;

            &:focus {
                outline: none !important;
            }

            &::placeholder {
                color: rgba($white-color, 0.25);
            }

            &.active {
                color: $primary-color;
                background-color: rgba($primary-color, 0.1);

                .drag-icon {
                    svg {
                        path {
                            fill: $primary-color;
                        }
                    }
                }
            }
        }

        .edit-btn {
            position: absolute;
            top: 0rem;
            right: 3rem;

            img {
                width: 2.1rem !important;
            }
        }

        .close-btn {
            position: absolute;
            top: 0rem;
            right: 0rem;

            svg {

                path {
                    fill: $red-color;
                }
            }
        }


        .add-btn {
            margin-bottom: 1.6rem;

            button {
                background-color: transparent;
                padding: 2rem 3.2rem;
                width: 100%;
                border: 1px solid $golden-color;
                border-radius: 1rem;

                img {
                    width: 2.4rem;
                    margin-top: 0.5rem;
                }

                span {
                    font-family: $font-bebas;
                    color: $golden-color;
                    font-size: 2.6rem;
                    font-weight: 400;
                    line-height: 3.12rem;
                    text-transform: uppercase;
                    margin-left: 0.8rem;
                }

                &:focus {
                    outline: none !important;
                }
            }
        }

        .remove-btn {
            width: 22%;
            position: fixed;
            bottom: 3.5rem;
            left: 2.4rem;

            button {
                background-color: $body-color;
                padding: 2rem 3.2rem;
                width: 100%;
                border: 1px solid $red-color;
                border-radius: 1rem;

                svg {
                    width: 2.4rem;
                    margin-top: 0.5rem;

                    path {
                        fill: $red-color;
                    }
                }

                span {
                    font-family: $font-bebas;
                    color: $red-color;
                    font-size: 2.6rem;
                    font-weight: 400;
                    line-height: 3.12rem;
                    text-transform: uppercase;
                    margin-left: 0.8rem;
                }

                &:focus {
                    outline: none !important;
                }
            }

            @include respond ("tab-port") {
                width: 41%;
            }
        }
    }


    &__right {
        border-left: 1px solid rgba($white-color, 0.1);
        padding-left: 3.2rem !important;

        h6 {
            color: $white-color;
            font-family: $font-bebas;
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 3.3rem;
        }
    }
}

.disabled {
    color: rgba($white-color, 0.5) !important;

    svg {
        path {
            fill: rgba($white-color, 0.5) !important;
        }
    }
}

.checked {
    background-color: rgba($green-color, 0.1) !important;
    border: 1px solid transparent !important;
    color: $green-color !important;

    svg {
        path {
            fill: $green-color !important;
        }
    }
}

.example-box {
    display: flex !important;
    align-items: center;
    overflow-y: hidden;
    margin-bottom: 1.2rem;
    background-color: $body-color;
    position: relative;
    display: inline-block;
    font-family: $font-bebas;
    color: $white-color;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 3.3rem;
    border: 1px solid rgba($white-color, 0.1);
    border-radius: 1rem;
    margin-bottom: 1.6rem;
    overflow-y: hidden;
    padding: 1.6rem 1.6rem 1.6rem 3.7rem !important;
    width: 100%;
    text-transform: uppercase;
    cursor: grab;

    input,
    .player-name {
        background-color: transparent;
        position: relative;
        display: inline-block;
        font-family: $font-bebas;
        color: $white-color;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 3.3rem;
        border: none;
        margin-bottom: 0rem !important;
        overflow-y: hidden;
        width: 100%;
        text-transform: uppercase;
        cursor: grab;

        &:focus {
            outline: none !important;
        }
    }

    .edit-btn {
        position: absolute;
        top: 0rem;
        right: 3rem;

        img {
            width: 2.1rem !important;
        }
    }

    .close-btn {
        position: absolute;
        top: 0rem;
        right: 0rem;

        svg {

            path {
                fill: $red-color;
            }
        }
    }

    .drag-icon {
        position: absolute;
        top: 1.9rem;
        left: 1rem;


        svg {

            path {
                fill: $white-color;
            }
        }
    }

}

.win-btn {
    position: relative;
    margin-top: 2.4rem;

    button {
        border: 1px solid rgba($white-color, 0.1);
        font-family: $font-bebas;
        color: $white-color;
        position: relative;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 3.3rem;
        border-radius: 1rem;
        padding: 1.6rem 0.8rem;
        background-color: transparent;
        width: 100%;

        svg {
            width: 2.4rem;
            vertical-align: middle;
            margin-top: -0.2rem;
            margin-right: 0.8rem;
        }

        &:focus {
            outline: none !important;
        }
    }

    .radio {
        position: absolute;
        opacity: 0%;
        top: 0rem;
        left: 0rem;
        width: 100%;
        height: 100%;
        z-index: 10;
        cursor: pointer;
    }
}

.example-list-red {
    border-radius: 1rem;
    padding: 2.4rem;
    background-color: rgba($red-color, 0.1);
}

.example-list-blue {
    border-radius: 1rem;
    padding: 2.4rem;
    background-color: rgba($blue-color, 0.1);
}

.example-list-team {
    padding: 2.4rem;
}

.no-player-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        color: rgba($white-color, 0.5);
        font-family: $font-bebas;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 2.8rem;
    }
}

.MT-2-half {
    margin-top: 3.7rem !important;
}

.border-dash {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        height: 100%;
        border: 1px dashed rgba($white-color, 0.1);

        @include respond ("tab-port") {
            display: none;
        }
    }

    @include respond ("tab-port") {
        flex-wrap: wrap !important;
    }
}

.cursur {
    cursor: not-allowed !important;
}

.player-input {
    background-color: transparent;
    position: relative;
    display: inline-block;
    font-family: $font-bebas;
    color: $white-color;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 3.3rem;
    border: 1px solid rgba($white-color, 0.1) !important;
    border-radius: 1rem;
    margin-bottom: 1.6rem;
    padding: 1.6rem 1.6rem 1.6rem 3.5rem !important;
    border-radius: 1rem;
    width: 100%;
    text-transform: uppercase;
    cursor: text !important;

    &:focus {
        outline: none !important;
    }

    &::placeholder {
        color: rgba($white-color, 0.25);
    }
}

.drag-icon-two {
    position: absolute;
    top: 1.8rem;
    left: 1rem;


    svg {
        path {
            z-index: 5;
            fill: $white-color;
        }
    }
}

.scroll-length {
    height: calc(100vh - 13.5rem) !important;
}

@include respond ("tab-port") {
    .row {
        flex-wrap: nowrap;
    }

    .pr-1 {
        padding-right: 0rem !important;
    }

    .pl-1 {
        padding-left: 0rem !important;
        padding-top: 2.4rem !important;
    }
}