@import "../../../../../assets/scss/abstracts/abstracts";


.ranking {
    padding: 2.4rem;

    .width-100 {
        div {
            width: 25%;
            text-align: center;
        }
    }

    .position-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 24rem;
        padding: 2.4rem;
        border-radius: 1.6rem;
        background-color: rgba($body-color, 0.1);
        backdrop-filter: blur(16px);

        strong {
            color: $dark-yellow-color;
            font-family: $font-bebas;
            font-size: 4rem;
            font-weight: 400;
            line-height: 4.8rem;
        }

        b {
            display: block;
            color: $white-color;
            font-family: $font-bebas;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 2.8rem;
        }

        small {
            color: rgba($white-color, 0.3);
            font-family: $font-bebas;
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.4rem;
        }

        img {
            width: 8.5rem;
        }
    }

    .position-two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20rem;
        padding: 2.4rem;
        border-radius: 1.6rem;
        background-color: rgba($body-color, 0.1);
        backdrop-filter: blur(16px);

        strong {
            color: $gray-color;
            font-family: $font-bebas;
            font-size: 4rem;
            font-weight: 400;
            line-height: 4.8rem;
        }

        b {
            display: block;
            color: $white-color;
            font-family: $font-bebas;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 2.8rem;
            padding-bottom: 0.5rem;
        }

        small {
            color: rgba($white-color, 0.3);
            font-family: $font-bebas;
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.4rem;
        }



        img {
            width: 8.5rem;
        }
    }

    .position-three {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 16rem;
        padding: 2.4rem;
        border-radius: 1.6rem;
        background-color: rgba($body-color, 0.1);
        backdrop-filter: blur(16px);

        strong {
            color: $orange-color;
            font-family: $font-bebas;
            font-size: 4rem;
            font-weight: 400;
            line-height: 4.8rem;
        }

        b {
            display: block;
            color: $white-color;
            font-family: $font-bebas;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 2.8rem;
        }

        small {
            color: rgba($white-color, 0.3);
            font-family: $font-bebas;
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.4rem;
        }


        img {
            width: 8.5rem;
        }
    }

    .manager-table {
        border-radius: 1.6rem;
        border: 1px solid rgba($white-color, 0.1);
        margin-top: 3.2rem;
        background-color: rgba($body-color, 0.1);
        backdrop-filter: blur(16px);


        table {
            position: relative;
            width: 100%;
            border-collapse: collapse;

            tbody {
                tr {
                    &:last-child {
                        td {
                            &:first-child {
                                border-bottom-left-radius: 1.6rem;
                            }

                            &:last-child {
                                border-bottom-right-radius: 1.6rem;
                            }
                        }
                    }
                }
            }

            th,
            td {
                padding: 1.6rem;
                font-family: $font-bebas;
                font-size: 2.6rem;
                font-weight: 400;
                line-height: 3.12rem;
            }

            th {
                border-bottom: 1px solid rgba($white-color, 0.1);
                background-color: rgba($primary-color, 0.1);
                color: $primary-color;

                &:first-child {
                    border-top-left-radius: 1.6rem;
                }

                &:last-child {
                    border-top-right-radius: 1.6rem;
                }
            }

            td {
                text-align: center;
                color: rgba($white-color, 0.5);
            }
        }
    }

    .ranking-score {
        position: relative;

        span {
            color: $body-color;
            font-family: $font-bebas;
            position: absolute;
            top: 1.5rem;
            right: 2.4rem;
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 5.7rem;
        }
    }
}